* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#body {
  background-color: #8e1d26;
}

#title {
  color: #fff;
}

#img1 {
  width: 500px;
}
